<div class="container-fluid banking-bg py-4">
  <div class="container">

    <!-- Card -->
    <div class="card banking-card shadow-sm">

      <!-- Card Header -->
      <div class="card-header banking-card-header bg-primary text-white">
        <h5 class="mb-0">Create Account</h5>
      </div>

      <!-- Card Body -->
      <div class="card-body p-4">

        <form [formGroup]="accountForm" (ngSubmit)="submit()">

          <!-- Customer ID -->
          <div class="mb-3">
            <label class="form-label ">Customer ID</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter customer ID"
              formControlName="customerId">
              <small class="text-danger" *ngIf="accountForm.get('customerId')?.touched
                && accountForm.get('customerId')?.errors?.['required']">
                Customer ID is required
              </small>
          </div>
 
          <!-- Account Type -->
          <div class="mb-3">
            <label class="form-label ">Account Type</label>
            <select class="form-select" formControlName="accountType">
              <option value="">Select account type</option>
              <option value="SAVINGS">Savings</option>
              <option value="CURRENT">Current</option>
            </select>
            <small class="text-danger" *ngIf="accountForm.get('accountType')?.touched
              && accountForm.get('accountType')?.errors?.['required']">
              Account type is required
            </small>
          </div>

          <!-- Initial Balance -->
          <div class="mb-4">
            <label class="form-label ">Initial Balance</label>
            <input
              type="number"
              class="form-control"
              placeholder="Enter initial balance"
              formControlName="balance">
            <small class="text-danger" *ngIf="accountForm.get('balance')?.touched
                && accountForm.get('balance')?.errors?.['required']">
                Balance is required
            </small>

            <small class="text-danger" *ngIf="accountForm.get('balance')?.touched
              && accountForm.get('balance')?.errors?.['min']">
              Balance must be greater than 0
            </small>
          </div>


          <!-- Submit -->
          <button
            type="submit"
            class="btn btn-primary w-100 py-2"
            [disabled]="accountForm.invalid">
            Submit
          </button>

        </form>

        <!-- Success Message -->
        <div class="alert alert-success mt-3" *ngIf="message">
          {{ message }}
        </div>

        <!-- Account Number -->
        <div class="alert alert-info mt-2" *ngIf="accountNumber">
          <strong>Account Number:</strong> {{ accountNumber }}
        </div>

      </div>
    </div>

  </div>
</div>
